<div id="page-heading"><h1>Añadir equipo</h1></div>


<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
  <tr>
    <th rowspan="3" class="sized"><%= image_tag 'admin/shared/side_shadowleft.jpg', :width => 20, :height => 300 %></th>
    <th class="topleft"></th>
    <td id="tbl-border-top">&nbsp;</td>
    <th class="topright"></th>
    <th rowspan="3" class="sized"><%= image_tag 'admin/shared/side_shadowright.jpg', :width => 20, :height => 300 %></th>
  </tr>
  <tr>
    <td id="tbl-border-left"></td>
    <td>
      <!--  start content-table-inner -->
      <div id="content-table-inner">

        <table border="0" width="100%" cellpadding="0" cellspacing="0">
          <tr valign="top">
            <td>


              <!--  start step-holder -->
              <div id="step-holder">
                <div class="step-no">1</div>
                <div class="step-dark-left"><a href="">Datos del equipo</a></div>

                <div class="clear"></div>
              </div>
              <!--  end step-holder -->

              <%= form_for [:admin, @team] do |form| %>

                  <!-- start id-form -->
                  <table border="0" cellpadding="0" cellspacing="0" id="id-form">
                    <tr>
                      <th valign="top"><%= form.label :name %></th>
                      <td><%= form.text_field :name, :class => 'inp-form' %></td>
                    </tr>
                    <tr>
                      <th valign="top">División:</th>
                      <td><input type="text" class="inp-form"/></td>
                    </tr>
                    <tr>
                      <th valign="top">URL de imagen:</th>
                      <td><input type="text" class="inp-form"/></td>
                    </tr>

                    <th>&nbsp;</th>
                    <td valign="top">
                      <%= form.submit 'Submit', :class => 'form-submit' %>
                      <input type="reset" value="Reset" class="form-reset"/>
                    </td>
                    <td></td>
                    </tr>
                  </table>

              <% end %>
              <!-- end id-form  -->

            </td>
            <td>

              <!--  start related-activities -->
              <div id="related-activities">

                <!--  start related-act-top -->
                <div id="related-act-top">
                  <%= image_tag 'admin/forms/header_related_act.gif', :width => 271, :height => 43 %>
                </div>
                <!-- end related-act-top -->

                <!--  start related-act-bottom -->
                <div id="related-act-bottom">

                  <!--  start related-act-inner -->
                  <div id="related-act-inner">

                    <div class="left">
                      <a href=""><%= image_tag 'admin/forms/icon_plus.gif', :width => 21, :height => 21 %></a>
                    </div>
                    <div class="right">
                      <h5>Add another product</h5>
                      Lorem ipsum dolor sit amet consectetur
                      adipisicing elitsed do eiusmod tempor.
                      <ul class="greyarrow">
                        <li><a href="">Click here to visit</a></li>
                        <li><a href="">Click here to visit</a></li>
                      </ul>
                    </div>

                    <div class="clear"></div>
                    <div class="lines-dotted-short"></div>

                    <div class="left">
                      <a href=""><%= image_tag 'admin/forms/icon_minus.gif', :width => 21, :height => 21 %></a>
                    </div>
                    <div class="right">
                      <h5>Delete products</h5>
                      Lorem ipsum dolor sit amet consectetur
                      adipisicing elitsed do eiusmod tempor.
                      <ul class="greyarrow">
                        <li><a href="">Click here to visit</a></li>
                        <li><a href="">Click here to visit</a></li>
                      </ul>
                    </div>

                    <div class="clear"></div>
                    <div class="lines-dotted-short"></div>

                    <div class="left">
                      <a href=""><%= image_tag 'admin/forms/icon_edit.gif', :width => 21, :height => 21 %></a>
                    </div>
                    <div class="right">
                      <h5>Edit categories</h5>
                      Lorem ipsum dolor sit amet consectetur
                      adipisicing elitsed do eiusmod tempor.
                      <ul class="greyarrow">
                        <li><a href="">Click here to visit</a></li>
                        <li><a href="">Click here to visit</a></li>
                      </ul>
                    </div>
                    <div class="clear"></div>

                  </div>
                  <!-- end related-act-inner -->
                  <div class="clear"></div>

                </div>
                <!-- end related-act-bottom -->

              </div>
              <!-- end related-activities -->

            </td>
          </tr>
          <tr>
            <td><%= image_tag 'admin/shared/blank.gif', :width => 695, :height => 1 %></td>
            <td></td>
          </tr>
        </table>

        <div class="clear"></div>


      </div>
      <!--  end content-table-inner  -->
    </td>
    <td id="tbl-border-right"></td>
  </tr>
  <tr>
    <th class="sized bottomleft"></th>
    <td id="tbl-border-bottom">&nbsp;</td>
    <th class="sized bottomright"></th>
  </tr>
</table>

