<div class="clear">&nbsp;</div>

<!--  start nav-outer-repeat................................................................................................. START -->
<div class="nav-outer-repeat">
  <!--  start nav-outer -->
  <div class="nav-outer">

    <!-- start nav-right -->
    <div id="nav-right">

      <div class="nav-divider">&nbsp;</div>
      <div class="showhide-account"><%= image_tag 'admin/shared/nav/nav_myaccount.gif', :width => 93, :height => 14 %></div>
      <div class="nav-divider">&nbsp;</div>
      <%= link_to destroy_admin_session_path, :method => :delete, :id => 'logout' do %>
          <%= image_tag 'admin/shared/nav/nav_logout.gif', :width => 64, :height => 14 %>
      <% end %>
      <div class="clear">&nbsp;</div>

      <!--  start account-content -->
      <div class="account-content">
        <div class="account-drop-inner">
          <a href="" id="acc-settings">Settings</a>

          <div class="clear">&nbsp;</div>
          <div class="acc-line">&nbsp;</div>
          <a href="" id="acc-details">Personal details </a>

          <div class="clear">&nbsp;</div>
          <div class="acc-line">&nbsp;</div>
          <a href="" id="acc-project">Project details</a>

          <div class="clear">&nbsp;</div>
          <div class="acc-line">&nbsp;</div>
          <a href="" id="acc-inbox">Inbox</a>

          <div class="clear">&nbsp;</div>
          <div class="acc-line">&nbsp;</div>
          <a href="" id="acc-stats">Statistics</a>
        </div>
      </div>
      <!--  end account-content -->

    </div>
    <!-- end nav-right -->


    <!--  start nav -->
    <div class="nav">
      <div class="table">

        <ul class="select dashboard current">
          <li>
            <%= link_to admin_path do %>
                <b>Dashboard</b>
            <% end %>
          </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>

        <ul class="select teams">
          <li>
            <%= link_to admin_teams_path do %>
                <b>Equipos</b>
            <% end %>
            <div class="select_sub">
              <ul class="sub">
                <li><%= link_to 'Listado de equipos', admin_teams_path %></li>
                <li><%= link_to 'Añadir nuevo equipo', new_admin_team_path %></li>
              </ul>
            </div>
          </li>
        </ul>

        <div class="nav-divider">&nbsp;</div>

        <ul class="select">
          <li><a href="#nogo"><b>Usuarios</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]>
            <table>
                <tr>
                    <td><![endif]-->
            <div class="select_sub">
              <ul class="sub">
                <li><a href="#nogo">Listado de usuarios</a></li>
                <li><a href="#nogo">Añadir nuevo usuario</a></li>
              </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
          </li>
        </ul>

        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <!--  start nav -->

  </div>
  <div class="clear"></div>
  <!--  start nav-outer -->
</div>
<!--  start nav-outer-repeat................................................... END -->

<div class="clear"></div>

<%= javascript_tag do %>

    $('document').ready(function(){
        set_main_menu_selection('<%= controller_name %>');
    });


<% end %>