<!DOCTYPE html>
<html>
<head>
  <title>Grupos1x2</title>
  <link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application_admin", :media => "all" %>
  <%= javascript_include_tag "application_admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_admin %>
    <%= render 'admin/shared/header' %>
    <%= render 'admin/shared/menu' %>
<% end %>

<div class="clear"></div>

<!-- start content-outer ........................................................................................................................START -->
<div id="content-outer">
  <!-- start content -->
  <div id="content">

    <%= render :partial => 'admin/shared/flash_block' %>

    <%= yield %>

    <div class="clear">&nbsp;</div>

  </div>
  <!--  end content -->
  <div class="clear">&nbsp;</div>
</div>
<!--  end content-outer........................................................END -->


<% if current_admin %>
    <%= render 'admin/shared/footer' %>
<% end %>


</body>
</html>
