<!DOCTYPE html>
<html>
<head>
  <title>Grupos1x2</title>
  <link href='http://fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application_admin", :media => "all" %>
  <%= javascript_include_tag "application_admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_admin %>
    <%= render 'admin/shared/header' %>
    <%= render 'admin/shared/menu' %>
<% end %>
    <%= yield %>
<% if current_admin %>
    <%= render 'admin/shared/footer' %>
<% end %>


</body>
</html>
